.album-list {
  display: grid;
  gap: 2rem;
}



.browse-music_section{
  display: flex;
  flex-direction: column;
  align-items:center;
}



.album-card_browse{
    display: flex;
  flex-direction: column;
  align-items:center;
  margin-bottom: 5%;
}

.album-card {
  display: grid;
  grid-template-columns: minmax(180px, 280px) 1fr;
  gap: 2rem;

  padding-block: 2rem;

  border-bottom: 1px solid #333333;
}

.album-card_cover-link {
  display: block;
}

.album-card_cover {
  width: 35%;
  aspect-ratio: 1;
  background-color: #222222;
}

.album-card_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.album-card_content h2 {
  margin-top: 0;
}

.album-card_actions {
  margin-top: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 650px) {
  .album-card {
    grid-template-columns: 1fr;
  }
}

.album-details_div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.album-details_cover{
  width:40%;
}


/*Beats*/

.beat-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.beat-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  padding: 1rem;

  border-bottom: 1px solid #333333;
}

.beat-row_info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.beat-row_info h3 {
  margin: 0;
}

.beat-row_actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 650px) {
  .beat-row {
    align-items: flex-start;
    flex-direction: column;
  }
}


/*Media player*/
.preview-player{
  
}